* {
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
    margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	text-align: justify;
}
body {
	font-family: 'Poppins', sans-serif;
	font-size: 1.4rem;
}
li {
	list-style-type: none;
  }
a {
	text-decoration: none;
	color: inherit;
}

.corpo{
	margin-left: 60px;
	margin-right: 600px;
}
